@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Roboto+Condensed');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: rgb(248,248,248);
}

h1 {
  font-size: 2em;
  padding: 10 0 10 0; /*Top Left Bottom Right*/
}

.graphTitle {
  font-size: 24px;
  font-weight: 600;
}

.key-container {
  padding: 15 15 15 15;
}

.card {
  background-color: #FFF;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  border-radius: 4px;
}

.keyTitle {
  font-weight: 600;
}

.key-container {
  width: 20%;
}

.slider-container {
  background-color:#262626;
  width:100%;
  box-shadow: 0px 1px 50px #5E5E5E;
  position:fixed;
  bottom:0px;
  z-index: 10;
}

/* ---------------------------- Positioning Main ScatterPlot ----------------------------  */
.plots-container {
  width: 70%;
}

.column {
  float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* ---------------------------- Individual Graph Titles ----------------------------  */
.individSVGContainer {
  display: inline-block;
}
.individSVGTitle {
  font-size: 15px;
  font-weight: 600;
}

.individSVGSubtitle {
  font-size: 15px;
  font-weight: 600;
}

/* ---------------------------- Axis ----------------------------  */
.axis {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.axis text {
  fill: rgb(150,150,150);
}
.axis path,
.axis line {
  fill: none;
  stroke: rgb(150,150,150);
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  fill: rgb(150,150,150);
}

/* ---------------------------- Slider ----------------------------  */
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
